.finderHeader {
    margin-left: 50px;
}
.form {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 50px;
  margin-bottom: 6rem;
}

.btn {
  font-size: 1.6rem;
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.6rem;
}


.finder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  
}

.icon {
  background-color: transparent;
  border: none;
}

.error {
  font-size: 1.6rem;
  color: red;
}