.titleBox {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.posterBox {
  min-width: 40rem;
  height: 60rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

