.navBackground {
  width: 100%;
  background-color: var(--color-black);
  height: 9rem;
}

.navBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.navLink,
.active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-white);
  padding: 2px 8px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.active {
  border-radius: 10px;
  background-color: var(--color-yellow);
  color: var(--color-black);
}
.navLink:hover,
.navLink:focus {
  color: var(--color-yellow);
  border-bottom: 2px solid var(--color-yellow);
  scale: 1.05;
}
.navInput {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 300;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--color-yellow);
  color: var(--color-white);
  padding-left: 10px;
  width: 26.5rem;
  height: 3rem;
  background-color: transparent;
}



.navInput:focus {
  outline: none;
  border: 1px solid var(--color-yellow);
  border-radius: 10px;
}

.active {
  border-bottom: 2px solid var(--color-yellow);
}

.searchBox {
  position: relative;
}

.searchResults {
  position: absolute;
  top: 4rem;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
}

