:root {
    --color-main: rgba(0, 0, 0, 0.8);
    --color-black: rgba(0, 0, 0, 1);
    --color-blur: rgba(0, 0, 0, .5);
    --color-white:rgba(255, 255, 255, 1);
    --main-font: 'Roboto', sans-serif
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--main-font);
    background-color: var(--color-main);
    
}

h2 {
    font-size: 2.4rem;
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 2.2rem;
}
a {
    cursor: pointer;
}
button {
    cursor: pointer;
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: var(--color-white);
}