.footerBackground {
    width: 100vw;
    background-color: var(--color-black);

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0;
    padding-bottom: 4rem;
   
}
.footerText {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-white);
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.footerForm {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    
}
.footerInput {
    font-size: 1.6rem;
    width: 35rem;
    padding: 1rem;
    color: var(--color-white);
    outline: none;
    background-color: transparent;
    border: none; 
    border-bottom: 1px solid var(--color-white);
}

.footerInput:focus {
    outline: var(--color-white) solid 1px ;
    border-radius: 10px;
}

.footerBtn {
    font-size: 1.6rem;
    display: flex;
    align-items: flex-end;
    gap: .4rem;
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    padding: .6rem;
}

.footerBtn svg {
    width: 2rem;
    height: 2rem;
}

.footerBtn:hover, .footerBtn:hover svg {
   
    background-color: var(--color-white);
    color: var(--color-black);
    fill: var(--color-black);
}

.footerIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .4rem;
}

.logo {
    width: 130px;
    height: 50px;
}

.icon {
    margin-left: 1rem;
}